<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Forgot Password</title>
</head>
<body>
<div class="row mt-5">
    <div class="col-md-6 n-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fa fa-sign-in-alt"></i>Forgot Password</h1>
            <%- include ("./partials/messages") %>
            <form action="/users/f_password" method="POST">
            
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
                />
        </div>
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" class="form-control"
                placeholder="Create Password" value="<%= typeof email != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group">
            <label for="password2">Confirm New Password</label>
            <input type="password" id="password2" name="password2" class="form-control"
                placeholder="Confirm Password" value="<%= typeof email != 'undefined' ? password2 : '' %>" />
        </div>
   
<button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
<p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
        </div>
    </div>
</div>
</body>
</html>












