


        <div class="card card-body" id= "login-body">
            <h1 class="text-center mb-3"><i class="fa fa-sign-in-alt"></i>Login</h1>
           
            <form action="/" method="POST">
            
       <div class="form-group">
            <label for="id">id</label>
            <input 
                type="id"
                id="id"
                name="id"
                class="form-control"
                placeholder="id"
                />
        </div>
           <div class="form-group">
            <label for="name">Product</label>
            <input 
                type="name"
                id="name"
                name="name"
                class="form-control"
                placeholder=""
                />
        </div>
    
   
<button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
<p class="lead mt-4">No Account? <a href="/users/register">Register</a></p>
<p class="lead mt-4">Forgot password<a href="/users/f_password">Here</a></p>
        </div>
   












